---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import Pagination from "../../components/Pagination.astro";

import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

interface Props {
  page: Page<CollectionEntry<"post">>;
}

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = await getCollection("post");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];
  return uniqueTags.flatMap((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag),
    );

    return paginate(filteredPosts, {
      params: { tag },
      pageSize: 2,
    });
  });
}) satisfies GetStaticPaths;

const { tag } = Astro.params;
const { page } = Astro.props;
---

<Layout title={"KameWalk | #" + (tag as string) + "-" + page.currentPage}>
  <main>
    <h2>#{tag} がついた記事</h2>
    <ul>
      {console.log(page)}
      {page.data.map(({ data, slug }) => <Card {data} {slug} />)}
    </ul>
  </main>
  <Pagination {page} />
</Layout>

<style>
  main {
    width: 90%;
    max-width: 700px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 40px;
  }

  ul {
    padding: 0;
  }
</style>
