---
interface Props {
  slug: string;
  data: {
    title: string;
    description: string;
    published: Date;
    tags: string[];
  };
}

const { slug, data } = Astro.props;
---

<li class="post">
  <a href={`/post/${slug}`} class="title">
    {data.title}
  </a>
  <p class="description">{data.description}</p>
  <p class="published">{data.published.toLocaleDateString("ja-JP")}</p>
  <ul class="tags">
    {
      data.tags.map((tag) => (
        <li class="tag">
          #<a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</li>

<style>
  li {
    list-style-type: none;
  }

  .post {
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid var(--typeColor);
    border-radius: 8px;

    & .title {
      font-size: 1.1em;
    }

    & .description {
      height: 50px;
    }

    & a {
      color: var(--main-color);
      text-decoration: none;
    }
  }

  .tags {
    padding: 0;
    display: flex;
    gap: 10px;
  }
</style>
