---
interface Props {
  slug: string;
  data: {
    title: string;
    description: string;
    published: Date;
    tags: string[];
  };
}

const { slug, data } = Astro.props;

export function toZeroPadDate(rawDate: Date): string {
  const strDate = rawDate.toLocaleDateString("ja-JP");
  let [year, month, day] = strDate.split("/");
  if (month.length === 1) {
    month = `0${month}`;
  }
  if (day.length === 1) {
    day = `0${day}`;
  }
  return `${year}/${month}/${day}`;
}

const published = toZeroPadDate(data.published);
---

<li class="post">
  <a href={`/blog/${slug}`} class="title">
    {data.title}
  </a>
  <p class="description">{data.description}</p>
  <p class="published">
    {published}
  </p>
  <ul class="tags">
    {
      data.tags.map((tag) => (
        <li class="tag">
          #<a href={`/${tag}/1`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</li>

<style>
  li {
    list-style-type: none;
  }

  .post {
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid var(--type-color);
    border-radius: 8px;

    & .title {
      font-size: 1.1em;
    }

    & .description {
      height: 50px;
    }

    & a {
      color: var(--main-color);
      text-decoration: none;
    }
  }

  .tags {
    padding: 0;
    display: flex;
    gap: 10px;
  }
</style>
