---
import Dates from "./Dates.astro";
import Tags from "./Tags.astro";

interface Props {
  id: string;
  data: {
    title: string;
    description: string;
    published: Date;
    updated?: Date;
    tags: string[];
  };
}

const { id, data } = Astro.props;
---

<li class="post">
  <a href={`/blog/${id}`} class="title">
    {data.title}
  </a>
  <p class="description">{data.description}</p>
  <Dates dates={data} />
  <Tags tags={data.tags} />
</li>

<style>
  .post {
    list-style-type: none;
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid var(--type-color);
    border-radius: 8px;

    & .title {
      font-size: 1.1em;
      color: var(--main-color);
      text-decoration: none;
    }

    & .description {
      line-height: 1.5;
      text-align: justify;
    }
  }
</style>
