---
import Layout from "./Layout.astro";

interface Props {
  frontmatter: {
    title: string;
    description: string;
    published: Date;
    updated?: Date;
    tags: string[];
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} description={frontmatter.description}>
  <main class="line-numbers">
    <h2 class="post-title">{frontmatter.title}</h2>
    <ul class="tags">
      {
        frontmatter.tags.map((tag) => (
          <li class="tag">
            #<a href={`/tag/${tag}/1`}>{tag}</a>
          </li>
        ))
      }
    </ul>
    <div class="published">
      {
        new Intl.DateTimeFormat("ja-JP", {
          year: "numeric",
          month: "2-digit",
          day: "2-digit",
        }).format(frontmatter.published)
      }
    </div>
    <section>
      <slot />
    </section>
  </main>
</Layout>

<style is:inline>
  main {
    width: 90%;
    max-width: 700px;
    margin: auto;
    margin-top: 30px;
    text-align: justify;

    & .post-title {
      font-size: 1.7em;
    }

    & .tags {
      display: flex;
      gap: 10px;
      padding: 0;

      & .tag {
        list-style-type: none;

        & a {
          text-decoration: none;
        }
      }
    }

    & a {
      color: var(--main-color);
    }
  }

  section {
    margin: 40px auto 60px;
    line-height: 1.8;

    & h3 {
      margin-top: 40px;
      border-bottom: 1px solid var(--darker-main);
    }
  }

  /* インラインコード */
  p > code {
    color: hsla(250, 14%, 80%, 1);
    font-family: "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono",
      monospace;
    background-color: #ffffff16;
    padding: 2px 5px;
    margin: 0 5px;
    border-radius: 5px;
  }

  /* 引用 CSS Stock(https://pote-chil.com/css-stock/ja/quote)を参考 */
  blockquote {
    position: relative;
    font-style: italic;
    margin: 0;
    padding: 3em 3.5em 2.5em 3.5em;
    color: #d8d8d8;
    background-color: #333333;

    & ::before {
      display: inline-block;
      position: absolute;
      top: 1em;
      left: 1.5em;
      width: 2em;
      height: 2em;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M4.58341 17.3211C3.55316 16.2274 3 15 3 13.0103C3 9.51086 5.45651 6.37366 9.03059 4.82318L9.92328 6.20079C6.58804 8.00539 5.93618 10.346 5.67564 11.822C6.21263 11.5443 6.91558 11.4466 7.60471 11.5105C9.40908 11.6778 10.8312 13.159 10.8312 15C10.8312 16.933 9.26416 18.5 7.33116 18.5C6.2581 18.5 5.23196 18.0095 4.58341 17.3211ZM14.5834 17.3211C13.5532 16.2274 13 15 13 13.0103C13 9.51086 15.4565 6.37366 19.0306 4.82318L19.9233 6.20079C16.588 8.00539 15.9362 10.346 15.6756 11.822C16.2126 11.5443 16.9156 11.4466 17.6047 11.5105C19.4091 11.6778 20.8312 13.159 20.8312 15C20.8312 16.933 19.2642 18.5 17.3312 18.5C16.2581 18.5 15.232 18.0095 14.5834 17.3211Z' fill='%2306cdf4'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      content: "";
    }

    & ::after {
      display: inline-block;
      position: absolute;
      bottom: 1em;
      right: 1.5em;
      width: 2em;
      height: 2em;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M4.58341 17.3211C3.55316 16.2274 3 15 3 13.0103C3 9.51086 5.45651 6.37366 9.03059 4.82318L9.92328 6.20079C6.58804 8.00539 5.93618 10.346 5.67564 11.822C6.21263 11.5443 6.91558 11.4466 7.60471 11.5105C9.40908 11.6778 10.8312 13.159 10.8312 15C10.8312 16.933 9.26416 18.5 7.33116 18.5C6.2581 18.5 5.23196 18.0095 4.58341 17.3211ZM14.5834 17.3211C13.5532 16.2274 13 15 13 13.0103C13 9.51086 15.4565 6.37366 19.0306 4.82318L19.9233 6.20079C16.588 8.00539 15.9362 10.346 15.6756 11.822C16.2126 11.5443 16.9156 11.4466 17.6047 11.5105C19.4091 11.6778 20.8312 13.159 20.8312 15C20.8312 16.933 19.2642 18.5 17.3312 18.5C16.2581 18.5 15.232 18.0095 14.5834 17.3211Z' fill='%2306cdf4'%3E%3C/path%3E%3C/svg%3E");
      background-repeat: no-repeat;
      content: "";
      transform: rotate(180deg);
    }

    & p {
      margin: 0;
      text-align: justify;
    }
  }
</style>
