---
interface Props {
  frontmatter: {
    title: string;
    description: string;
    published: Date;
    updated?: Date;
    tags: string[];
  };
}

import Layout from "./Layout.astro";
import { toZeroPadDate } from "../components/Card.astro";
import "../styles/prism.css";

const { frontmatter } = Astro.props;
const published = toZeroPadDate(frontmatter.published);
---

<Layout title={frontmatter.title}>
  <main class="line-numbers">
    <h2 class="post-title">{frontmatter.title}</h2>
    <ul class="tags">
      {
        frontmatter.tags.map((tag) => (
          <li class="tag">
            #<a href={`/${tag}/1`}>{tag}</a>
          </li>
        ))
      }
    </ul>
    <div class="published">
      {published}
    </div>
    <section>
      <slot />
    </section>
    <script>
      import "../scripts/prism";
    </script>
  </main>
</Layout>

<style is:inline>
  main {
    width: 90%;
    max-width: 700px;
    margin: auto;
    margin-top: 30px;

    & .post-title {
      font-size: 1.7em;
    }

    & .tags {
      display: flex;
      gap: 10px;
      padding: 0;

      & .tag {
        list-style-type: none;

        & a {
          text-decoration: none;
        }
      }
    }

    & a {
      color: var(--main-color);
    }
  }

  section {
    margin: 40px auto 60px;
    line-height: 1.8;

    & h3 {
      margin-top: 40px;
      border-bottom: 1px solid var(--darker-main);
    }
  }
</style>
